.parallax-container {
    min-height: 30em;
    background: transparent;
}
.parallax-mirror {
    z-index:1
}

body {
	font-family: "Lucida console", monospace;
	font-size: 1.3em;
	color: white;
	background-color: #857E74;
}

.nav {
	font-size: 1.7em;
	padding-left: 15%;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.navbar-right {
	text-align: right;
	margin-right: 15%;
}

#about {
	height: 10em;
	border: .2em solid white;
	background-color: #857E74;
	margin: 0% 20% 5% 20%;
}

#portfolio {
	height: 30em;
	border: .2em solid white;
	background-color: #857E74;
	margin: 0% 15% 5% 15%;
}

h2 {
	text-align: center;
	margin-top: 1%;
}

#words {
	text-align: center;
}

#contact {
	padding-top: 3%;
	font-size: 1em;
}

#contact-form {
	padding: 0 0 5% 5%;
}

.navbar-bottom {
	text-align: center;
	margin: 0 auto;
}

.screenshot {
	border: .1em solid white;
	max-height: 15em;
}