.parallax-container {
    min-height: 400px;
    background: transparent;
}
.parallax-mirror {
    z-index:1
}

body {
	font-family: "Lucida console", monospace;
	font-size: 1.5em;
	color: white;
	background-color: #857E74;
}

.nav {
	font-size: 2em;
	padding-left: 15%;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.navbar-right {
	text-align: right;
	margin-right: 15%;
}
