.parallax-container {
    min-height: 25em;
    background: transparent;
}
.parallax-mirror {
    z-index:1
}

body {
	font-family: "Lucida console", monospace;
	font-size: 1.5em;
	color: white;
	background-color: #857E74;
}

.nav {
	font-size: 2em;
	padding-left: 15%;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.navbar-right {
	text-align: right;
	margin-right: 15%;
}

#about {
	height: 15em;
	border: .2em solid white;
	background-color: #857E74;
	margin: 0% 10% 5% 10%;
}

h2 {
	text-align: center;
	margin-top: 1%;
}

#words {
	text-align: center;
}